{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<div class="todo-container">
    <h1>Ваши задачи</h1>

    <form action="{% url 'add' %}" method="POST">
        {% csrf_token %}
        <input name="title" placeholder="Новая задача..." required>
        <button type="submit">Добавить</button>
    </form>

    {% for task in tasks %}
    <div class="task-item">
        <span class="task-title {% if task.completed %}task-completed{% endif %}">
            {{ task.title }}
        </span>
        
        <div class="actions">
            <a href="toggle/{{ task.id }}" class="{% if task.completed %}btn-cancel{% else %}btn-toggle{% endif %}">
                {% if task.completed %} Отменить {% else %} Выполнить {% endif %}
            </a>
            <span style="color: #eee">|</span>
            <a href="delete/{{ task.id }}" class="btn-delete">Удалить</a>
        </div>
    </div>
    {% endfor %}
</div>

</body>
</html>